.optionsButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto; 
}

.buttonAll{
    width: 64px;
}

.buttonDoing{
    width: 88px;
}

.buttonEnding{
    width: 96px;
}

.buttonAllActive, .buttonDoingActive, .buttonEndingActive {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 42px;
    border: none;
    border-radius: 16px;
    padding: 12px 8px;
    font-weight: bold;
    font-size: 1.5rem;
    background: var(--hover);
    color: var(--white);
    cursor: pointer;
}

.buttonEnding, .buttonDoing, .buttonAll{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 42px;
    border: none;
    border-radius: 16px;
    padding: 12px 8px;
    font-weight: bold;
    font-size: 1.5rem;
    background: var(--border-element);
}

.buttonEnding:hover, .buttonDoing:hover, .buttonAll:hover{
    background: var(--hover);
    color: var(--white);
    cursor: pointer;
    height: 46px;
}

.optionsButtons button .complete{
    display: block;
    color: var(--white);
    background: var(--section-importan);
    font-size: 13px;
    height: 16px;
    width: 15px;
    border-radius: 50%;
    text-align: center;
}

.sectionOptionsButtons{
    width: 380px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 12px;
    align-items: center;
}

#iconSearch{
    display: none;
}

@media(max-width:768px){
    .optionsButtons{
        width: 100%;
    }
    
    .optionsButtons button .complete{
        display: none;
    }

    #iconSearch{
        display: block;
        width: 5vw;
        height: 5vh;
        margin: 0;
    }

    .inputSearchPC{
        display: none;
    }
}