.listOfTask{
    display: flex;
    position: relative;
    list-style-type: none;
    border-radius: 16px;
    background: var(--white);
    width: 92%;
    margin: 8px 0px;
    padding: 12px 12px;
}

.sectionCheckbox{
    margin: auto;
    padding: 8px;
    height: 41px;
    width: 41px;
}

.sectionCheckbox:hover{
    background: var(--hover);
    border-radius: 50%;
}

.inputcheckbox{
    margin: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.inputcheckbox:not(:checked){
    background-color: var(--white);
}

.inputcheckbox:checked{
    background-color: var(--principals-buttons);
    border-color: var(--principals-buttons);
}

.inputcheckbox:checked::before {
    content: '✔';
    font-size: 14px;
    color: white; /* Color del icono */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputcheckbox:hover {
    border-color: #4CAF50;
}

.sectionTextTask{
    width: 90%;
    align-content: center;
    margin-left: 6px;
    max-height: 120px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--white) transparent;
}

.sectionTextTask:hover{
    scrollbar-color: var(--border-element) transparent;
}

.textTask{
    font-size: 1.6rem;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}

.textTaskInput{
    
}

.sectionIconDelete{
    width: 28px;
    align-content: center;
}

.iconDelete{
    width: 24px;
    height: 24px;
    color: var(--border-element);
}

.iconDelete:hover{
    color: var(--principals-buttons);
    cursor: pointer;
    width: 28px;
    height: 28px;
}