li{
    /* font-size: 500; */
    position: relative;
    list-style-type: none;
    border: 1px solid var(--border-element);
    background: var(--white);
    border-radius: 4px;
    width: 92%;
    margin: 4px;
    padding: 6px 2px;
    text-wrap: balance;
}

span{
    font-size: 16px;
    
}

#imgDelete{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}