#CreateAndDelete{
    display: flex;
    width: 160px;
    justify-content: space-between;
    margin-top: 4px;
}

#CreateAndDelete button{
    background-color: var(--principals-buttons);
    color: var(--white);
    margin: 0 6px;
}