p{
    font-family: 'Merriweather', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 36px;
}

.inputCreation{
    margin-top: 4px;
    background: none;
    border: 1px solid var(--border-element);
    border-radius: 16px;
    height: 36px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.inputCreation:hover{
    outline-color: var(--hover);
    background: var(--hover);
    color: var(--white);
    cursor: pointer;
}

#CreateAndDelete{
    display: flex;
    width: 160px;
    justify-content: center;
    margin-top: 4px;
}

.setUpTask{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    width: 92%;
    height: 96%;
    border-radius: 8px;
    margin-left: 0.6em;
}

.CreateButton{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 16px;
    background: var(--border-element);
    font-weight: 600;
    font-size: 1.6rem;
}

.CreateButton:hover{
    color: var(--white);
    background: var(--principals-buttons);
}

/* .setUpTask:hover{
    background: var(--principals-buttons);
} */