.inputSearch{
    display: block;
    margin-top: 4px;
    background: none;
    border: 1px solid var(--border-element);
    border-radius: 16px;
    height: 36px;
    width: 368px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.inputSearchColor{
    margin-top: 4px;
    outline-color: var(--hover);
    background: var(--hover);
    color: var(--white);
    border: none;
    border-radius: 16px;
    height: 36px;
    width: 368px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.InputAndIconDelete{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.IconDelete{
    width: 26px;
    height: 26px;
    color: var(--border-element);
}

.IconDelete:hover{
    color: var(--principals-buttons);
    cursor: pointer;
    width: 28px;
    height: 28px;
}

.inputSearch:hover{
    outline-color: var(--hover);
    background: var(--hover);
    border: none;
    color: var(--white);
}
/* @media(max-width : 768px){

} */