:root{
  --fondo-page: #eef8f9;
  --section-importan: #071952;
  --border-element: #b1b8c1;
  --paragraph-background:#6f7883;
  --hover: #8cbdfd;
  --principals-buttons: #088395;
  --black: black;
  --white: white;
}

#root {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 20% 80%;
  align-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: var(--fondo-page);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--fondo-page);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
