#inputSearch{
    display: block;
    margin-top: 4px;
    background: var(--white);
    border: 1px solid var(--principals-buttons);
    border-radius: 2px;
    height: 28px;
    width: 190px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

/* @media(max-width : 768px){

} */